# Go Linters - GitHub Actions
name: linters
on: [push]
jobs:

  # Check linters on latest-ubuntu with default version of Go.
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: "1.23"
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install golangci-lint
      run: |
        go version
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
    - name: Run required linters in .golangci.yml plus hard-coded ones here
      run: $(go env GOPATH)/bin/golangci-lint run --timeout=3m ./
    - name: Run optional linters (not required to pass)
      run: $(go env GOPATH)/bin/golangci-lint run --timeout=3m --issues-exit-code=0 -E dupl -E gocritic -E lll -E prealloc ./
