# Go Linters - GitHub Actions
name: linters
on: [push]
jobs:

  # Check linters on latest-ubuntu with default version of Go.
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.23.8
    - name: Run required linters in .golangci.yml plus hard-coded ones here
      run: $(go env GOPATH)/bin/golangci-lint run --timeout=3m
    - name: Run optional linters (not required to pass)
      run: $(go env GOPATH)/bin/golangci-lint run --timeout=3m --issues-exit-code=0 -E dupl -E gocritic -E gosimple -E lll -E prealloc
